
svg#freepik_stories-organizing-projects:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-organizing-projects.animated #freepik--Floor--inject-1--inject-5 {
    animation: 4.7s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    animation-delay: 0s;
}

svg#freepik_stories-organizing-projects.animated #freepik--Plants--inject-1--inject-5 {
    animation: 6s Infinite linear floating;
    animation-delay: 0s;
}

svg#freepik_stories-organizing-projects.animated #el9vngitb03zh {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-organizing-projects.animated #el5kslsohv1uc {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.010843373493975903s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elb9hjjuix3jo {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.021686746987951807s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elql0cg2ncsia {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.03253012048192771s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el22duwpc91su {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.043373493975903614s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el77644wq1hj9 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.05421686746987952s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elcj4jsc7gvpv {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.06506024096385542s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elbn38ezofkuk {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.07590361445783132s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elxg6vxptkido {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.08674698795180723s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elk68oeku2xyp {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.09759036144578313s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #eligbp31g7o1o {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.10843373493975904s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elir9cnrukgyo {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.11927710843373494s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el81aqiwheswf {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.13012048192771083s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el4lex4372o4 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.14096385542168674s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el4pdff6qe8lw {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.15180722891566265s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #eldkmnbhjxi8 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.16265060240963855s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #eldsmb5fy4j44 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.17349397590361446s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elfu5oi6d4xvp {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.18433734939759036s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el1129e52scw6 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.19518072289156627s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elim4dixog97 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.20602409638554217s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elhaf60814isi {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.21686746987951808s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elxgb2l2z2p8m {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.22771084337349398s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elxbly007eju {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.2385542168674699s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el5suobe9acuk {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.2493975903614458s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el4yb9faulx16 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.26024096385542167s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elu30mg9lbm5 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.2710843373493976s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el2rbdco4djdv {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.2819277108433735s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #ell82n4phbbso {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.2927710843373494s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elj608hnu4yh {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.3036144578313253s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elyar1ab688th {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.3144578313253012s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el7bns6r1lloc {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.3253012048192771s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elf3fi1h0h8i9 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.336144578313253s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elfcsvxs1vuy {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.3469879518072289s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #ely3oyjf7w9mc {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.3578313253012048s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elthbnfek2h1s {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.3686746987951807s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elqiqiousg09 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.3795180722891566s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elxlcifv38b9l {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.39036144578313253s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elb32yg21kaxn {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.40120481927710844s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elp4laiz3jh4 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.41204819277108434s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elmg7buoec41 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.42289156626506025s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #eljniw50nakin {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.43373493975903615s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #eli2gib52spwe {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.44457831325301206s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el5kvy2s44dzp {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.45542168674698796s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el1frnen3xd9v {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.46626506024096387s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elar4xkd3zt8d {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.4771084337349398s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #eladsselxfz0p {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.4879518072289157s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elnvf1yxzong {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.4987951807228916s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elr3lh2z2nqvn {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.5096385542168674s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el6t6wh1exrzr {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.5204819277108433s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elo53sv8o9xxs {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.5313253012048192s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #ellcuc8yfmb8 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.5421686746987951s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elll20rv33pj {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.553012048192771s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el47oyckpxz03 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.563855421686747s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elzfw0apm3t5p {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.5746987951807229s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #eliucbtwh0qn {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.5855421686746988s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elqmwb01et1kh {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.5963855421686747s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el34candgza63 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.6072289156626506s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el8ccfc2x80v9 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.6180722891566265s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elom6f95am47 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.6289156626506024s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #eln1e0l2luund {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.6397590361445783s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #ellv7x7xcmw9 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.6506024096385542s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el0njto7ayu4z {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.6614457831325301s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el9m0dqtj82ps {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.672289156626506s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elyk1k70vcwwm {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.6831325301204819s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elk5j0ko5k7j {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.6939759036144578s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #ela2efkvbr3me {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.7048192771084337s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elxdp3s8reyu {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.7156626506024096s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elwbxit9rd5k {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.7265060240963855s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #eloyl81eiwqc9 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.7373493975903614s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elao4jiggrmi {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.7481927710843373s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elitgecsmwmvr {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.7590361445783133s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elnvn9umt1qqo {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.7698795180722892s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el32a18qlqbgr {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.7807228915662651s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #el218ulrzkzpt {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.791566265060241s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elz2wiecfb3hi {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.8024096385542169s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elbyofgmfo87r {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.8132530120481928s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elpqsfqimjz2p {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.8240963855421687s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elcidpoi4ho6j {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.8349397590361446s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elng218lc4jt {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.8457831325301205s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elqbipgxwdfe {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.8566265060240964s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elu2u3yw8bqe {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.8674698795180723s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elxt9pubak1u {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.8783132530120482s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #elrxpo993jz3q {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0.8891566265060241s;
    opacity: 0
}

svg#freepik_stories-organizing-projects.animated #freepik--Board--inject-1--inject-5 {
    animation: 0.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-organizing-projects.animated #freepik--Cabinet--inject-1--inject-5 {
    animation: 1.7s 1 forwards ease-out slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-organizing-projects.animated #freepik--Marker--inject-1--inject-5 {
    animation: 2.2s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    animation-delay: 0s;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: inherit;
    }
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
